{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": true
                },
                "useBuiltIns": "entry"
            }
        ]
    ]
    // "plugins": [
    //     [
    //         "module-resolver",
    //         {
    //             "root": [
    //                 "/"
    //             ]
    //         }
    //     ]
    // ]
}